<h1>Listing Teams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%#= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Team', new_team_path, class: 'btn btn-primary', method: :get %>

<%= will_paginate @teams, renderer: BootstrapPagination::Rails %>
