<div class='row'>
  <p class='col-sm-2'>
    <strong>Name:</strong>
  </p>
  <p class='col-sm-10'>
    <%= @team.name %>
  </p>
</div>
<div class='row'>
  <p class='col-sm-2'>
    <strong>Logo:</strong>
  </p>
  <p class='col-sm-10'>
    <%= image_tag @team.image, alt: "#{@team.name} logo" %>
  </p>
</div>
<div class='row'>
  <p class='col-sm-2'>
    <strong>Captains:</strong>
  </p>

  <p class='col-sm-10'>
    <ul>
    <% @team.captains.each do |tc| %>
    <li><%= tc.name %></li>
    <% end %>
    </ul>
  </p>
</div>
<%# TODO only captains can edit teams %>
<%= button_to 'Edit', edit_team_path(@team), class: 'btn btn-primary', method: :get if (not current_user.player.nil? and current_user.player.teams.include? @team) or current_user.admin? %>
