<%= form_for([@tournament,@round], html: { class: "form-horizontal" }) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @round.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= render 'round_fields', f: f %>

<% end %>
