<h1>New Division for <%= @tournament.name %></h1>

<p>Existing divisions: <%= link_to @tournament.divisions.collect { |div| div.name }.join(', ') %></p>

<%= render 'form' %>

<%= link_to 'Back', tournament_divisions_path(@tournament) %>
